@model IEnumerable<Dan3.Models.danhmucs>

<div class="col-8 col-s-12 content">
    <div class="tabcontent">
        <div class="title">
            <i class="fas fas fa-boxes"></i> Thông tin danh mục cần sửa

            <hr>
        </div>

        <div class="row">
            <div class="col-12 col-s-12 padding-box">
                <table class="" id="dataTable">
                    <thead>

                        <tr>
                            <th>Số thứ tự</th>

                            <th>Tên danh mục</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.danhmuc_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.danhmuc_name)
                                </td>

                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <!-- Page level plugins -->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Assets/Admin/js/demo/datatables-demo.js"></script>
}

