@model Dan3.Models.slide

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminCP/Views/Shared/_layoutadmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>slide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.slide_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
