
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="bookdetailwrap">
        <header class="pageheader">
            <h1>Đăng nhập</h1>
        </header>
        <article>
            <form action="/dang-nhap" method="post">
                <p>

                    <label for="Email">Email</label> <br>

                    <input name="Email" type="text" value="">

                </p>
                <p>

                    <label for="Password">Mật khẩu</label> <br>

                    <input name="Password" type="password">


                </p>
                <p>

                    <label>
                        <input class="btn" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false">  Ghi nhớ

                    </label> <br>
                </p>
                <p>
                    <input onclick="send()" type="button" class="btn" value="Đăng nhập">
                </p>
                <p>
                    Chưa có tài khoản? Hãy <a href="../form/dangki.html" class="btn"><strong>Đăng ký</strong></a>             hoặc
                    <a href="">Đăng nhập qua Facebook</a>
                </p>
            </form>
        </article>
        <fieldset style="margin-top: 40px">
            <legend>Quên mật khẩu?</legend>
            <form action="/Account/ForgotPassword" method="POST" class="form">

                <p>
                    <label>Email</label> <br>
                    <input style="width: 400px;" type="text" name="email" value="">
                </p>
                <p>

                    <input type="submit" class="btn" value="Tìm lại mật khẩu">
                </p>
            </form>

        </fieldset>
    </div>



</body>

